do not run the dev web or server. it will always be running and updated based on the changes that you make. 

if there are major linter or functional errors, it will display, otherwise it will be a silent failure and i will tell you